:root {
    --primary-color: #12B76A;
    --secondary-color: #039855;
    --text-color: #212427;
    --neutral: #AAAAAA;
    --primary-font: Satoshi;
    --headline-font: Austin;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plantCatergories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.plantCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    width: 450px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
}

.plantCard img {
    width: 40%;
    height: 100%;
}

.plantCard .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.content .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content .name h2 {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
}

.content .name p {
    font-family: var(--primary-font);
    color: var(--neutral);
    font-size: 16px;
    font-weight: 700;
}

.content .avaliability {
    display: flex;
    align-items: center;
    gap: 5px;
}

.content .avaliability p {
    font-family: var(--primary-font);
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.content .cardCTAs {
    display: flex;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--neutral);
    padding: 10px 0px;
    gap: 10px;
}

.content .cardCTAs a:nth-child(1) {
    display: flex;
    padding: 15px 20px;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary-color);
    text-decoration: none;
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
}

.content .cardCTAs a:nth-child(2) {
    display: flex;
    padding: 12px 15px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
}

.content .cardCTAs a:nth-child(2) img {
    width: 24px;
    height: 24px;
}

.catergories {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* width: 100%;  */
    overflow-x: hidden;
    max-width: 80%;
    margin: 0 auto;
}

.catergoriesList {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.catergories .active{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 8px;
}

/* .catergories .active {
    margin: 0;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
} */

.catergories .tag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: var(--neutral);
}

.catergories .tag {
    margin: 0;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
}

.catergories .icon {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #212121 50%, transparent);
} */

/* .icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #212121 50%, transparent);
} */

.icon:first-child, .icon:last-child {
    display: none;
}

/* .icon img {
    width: 55px;
    height: 55px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
} */

.plantCatergories {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.plants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    place-items: center;
    width: 100%;
    grid-gap: 50px;
    justify-content: center;
}

@media only screen and (max-width : 600px) {
    .plantCard {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 80%;
    }

    .plantCard img {
        width: 100%;
        height: 40%;
    }

    .plantCard .content {
        width: 80%;
        gap: 15px;
    }
}

@media only screen and (max-width : 400px) {
    .plantCard {
        width: 55%;
    }
}

.seeAll {
    padding: 15px 20px;
    background: var(--neutral);
    border-radius: 8px;
    border: none;
    color: #fff;
    width: 85px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    20%,50%,80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px); 
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}

.price {
   display: flex;
   flex-direction: column; 
}

.price p:nth-child(1) {
    font-size: 12px;
}

.price p:nth-child(2) {
    text-decoration-line: line-through;
}

.discountSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: var(--primary-color);
    border-radius: 32px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    margin-top: 75px;
}

.discountPlants {
    display: flex;
    gap: 25px;
    align-items: center;
}

.heading {
    text-align: center;
}

.heading h3 {
    font-family: var(--primary-font);
    /* font-weight: 700; */
    font-size: 24px;
    color: #fff;
}

.heading p {
    font-family: var(--primary-font);
    font-size: 16px;
    color: #fff;
}

.discountEnds {
    display: flex;
    align-items: center;}

.discountEnds p {
    font-family: var(--primary-font);
    /* font-weight: 500; */
    font-size: 20px;
    color: #fff;
    margin: 0px -155px;
}

/* .discountSection .vector {
    position: absolute;
    left: 53.01%;
    right: 35.22%;
    top: 74.6%;
    bottom: 7.2%;
} */

@media only screen  and (max-width: 1080px) {
    .discountPlants {
        flex-direction: column;
    }
}